.tasks {
  background-color: #1c1c1c;
  width: 90%;
  margin-top: 0.5;
  margin-bottom: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 1em 0 var(--clr-neon);
  border: 3px solid var(--clr-neon);
}

label {
  text-align: left;
}

.delete-button {
  color: red;
  cursor: pointer;
  width: fit-content;
  margin: 1rem auto 0 auto;
}
