:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  color: white;
  margin: auto;
  /* border: solid var(--clr-neon) 1px; */
  text-align: center;
  /* background-color: var(--clr-bg); */
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: var(--white);
}
